<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>Salom dunyo</title>
</head>
<style>
body{
	background-color: #031321;
}
.container{
	width: 1000px;
	height: 600px;
	margin: 0 auto;
	text-align: center;
}
th{
	border: 1px solid #00e3ff;
	color: #00e3ff;
	padding: 5px;
}
table{
	text-align: center;
	margin: 0 auto;
	cursor: alias;
}
td {
    color: #00e3ff;
}
table tr:nth-child(odd){
	background-color: seagreen;
}
table tr{
	background-color: #0d0081;
}
table tr:nth-child(odd):hover{
	background-color: green;
}
table tr:hover{
	background-color: rgba(68,68,68,.7);
}
</style>
<body>
    <div class="container">
        <table class="table table-bordered table-dark table-striped table-hover">
            <tr>
                <th>T/R</th>
                <th>Oquvchi</th>
                <th>Kitob</th>
                <th>Olgan-vaqti</th>
                <th>Qaytarish-vaqti</th>
                <th>Kutubxonach</th>
                <th>Qaytargan</th>
            </tr>
            {% for i in record3 %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.oquvchi}}</td>
                <td>{{i.kitob}}</td>
                <td>{{i.olgan_vaqt}}</td>
                <td>{{i.qaytarish_vaqti}}</td>
                <td>{{i.kutubxonachi}}</td>
                <td>{{i.qaytargan}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>