<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <title>Salom dunyo</title>
</head>
<style>
body{
	background-color: #031321;
}
.container{
	width: 1000px;
	height: 600px;
	margin: 0 auto;
	text-align: center;
}
th{
	border: 1px solid #00e3ff;
	color: #00e3ff;
	padding: 5px;
}
table{
	text-align: center;
	margin: 0 auto;
	cursor: alias;
}
td {
    color: #00e3ff;
}
table tr:nth-child(odd){
	background-color: seagreen;
}
table tr{
	background-color: #0d0081;
}
table tr:nth-child(odd):hover{
	background-color: green;
}
table tr:hover{
	background-color: rgba(68,68,68,.7);
}
</style>
<body>
    <div class="container">
        <table class="table table-bordered table-dark table-striped table-hover">
            <tr>
                <th>ID</th>
                <th>Vaqt</th>
                <th>Malumot</th>
                <th>Faol</th>
                <th>O'chirish</th>
            </tr>
            {% for i in todo %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.vaqt}}</td>
                <td>{{i.malumot}}</td>
                <td>{{i.faol}}</td>
                <td><a href="ochirish/{{i.id}}/"><button>O'chirish</button></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>